.buy {
  max-width: 1184px;
  width: 100vw;
  height: 740px;
  margin: 12px auto 0px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  background: rgba(42, 44, 47, 0.4) url(../images/__background.png) no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
}

.buy:hover {
  background: rgba(42, 44, 47, 1) url(../images/__background.png) no-repeat;
  transition: 0.5s;
}

.buy_NFT {
  position: relative;
}

.image_camp {
  width: 100%;
  max-width: 1184px;
}
.image_camp:hover {
  background-color: #2A2C2F;
}

.visitus {
  max-width: 656px;
  top: 243px;
  right: 264px;
}

.visitus__title {
  font-size: 72px;
  font-weight: 900;
  line-height: 76px;
  letter-spacing: 0em;
  text-align: center;
  margin: 0;
}

.visitus__text {
  max-width: 280px;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  margin: 32px auto;
}

.visitus__button {
  background-color: #0278fe;
  color: #fff;
  width: 191px;
  height: 48px;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  border: none;
  border-radius: 4px;
  margin: 0 76px;
}

.visitus__button:hover {
  background-color: #0063D2;
  transition: 0.5s;
}

@media screen and (max-width: 768px) {
  .buy {
    background: rgba(42, 44, 47, 0.4) url(../images/__backgroundtablet_img.png) no-repeat;
    background-size: cover;
  }

  .buy:hover {
    background: rgba(42, 44, 47, 1) url(../images/__backgroundtablet_img.png) no-repeat;
    background-size: cover;
    transition: 0.5s;
  }

  .visitus {
  }

  .visitus__title {
    font-size: 4.5rem;
    line-height: 4.75rem;
    margin: 0;
  }

  .visitus__text {
    font-size: 1.12rem;
    line-height: 1.37rem;
    margin: 32px auto;
  }

  .visitus__button {
    font-size: 1.12rem;
    line-height: 1.37rem;
  }
}

@media screen and (max-width: 320px) {
  .buy {
    max-width: 320px;
    max-height: 254px;
  }
  .visitus {
    max-width: 288px;
  }

  .visitus__title {
    font-size: 2rem;
    line-height: 2.18rem;
  }

  .visitus__text {
    font-size: 0.87rem;
    line-height: 1rem;
  }

  .visitus__button {
    font-size: 1.12rem;
    line-height: 1.37rem;
    margin: 0 49px;
  }
}