.card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    "city artist"
    "image description_text"
    "button description_text"
    ". description_text";
  margin: auto 142px;
  gap: 48px 40px;
}

.card__city {
  grid-area: city;
  font-size: 72px;
  font-weight: 900;
  line-height: 76px;
  letter-spacing: 0em;
  text-align: left;
  margin: auto 0 0;
}

.name__artista {
  grid-area: artist;
  margin-bottom: 0;
}

.city__name_artista {
  margin-top: 190px;
  margin-bottom: 5px;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0.12em;
  text-align: left;
  color: #aaaaaa;
}

.city__name_nome {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0;
}

.card__city_image {
  grid-area: image;
  width: 100%;
  margin-bottom: 40px;
}

.city__description {
  grid-area: description_text;
}

.city__description_text {
  font-size: 18px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0 0 25px;
}

.button {
  grid-area: button;
  background: #0278fe;
  color: #ffffff;
  font-weight: 600;
  width: 355px;
  height: 48px;
  font-size: 18px;
  border: none;
  border-radius: 4px;
  margin: 0;
}

.button:hover {
  background-color: #0063d2;
  transition: 0.5s;
}

@media screen and (max-width: 768px) {
  .card {
        max-width: 733px;
    margin: 88px 11px 31px 24px;
    gap: 48px 26px;
  }

  .card__city {
    width: 100%;
    font-size: 2.62rem;
    line-height: 2.87rem;
    margin: 0;
  }

  .name__artista {
    margin: 0;
  }

  .city__name_artista {
    font-size: 0.75rem;
    line-height: 0.93rem;
    letter-spacing: 0.12em;
    margin: 0;
  }

  .city__name_nome {
    font-size: 1.12rem;
    line-height: 1.37rem;
    letter-spacing: 0em;
    text-align: left;
  }

  .card__city_image {
    width: 100%;
    margin-bottom: 0;
  }

  .city__description_text {
    font-size: 1rem;
    line-height: 1.62rem;
    letter-spacing: 0em;
    margin: 0 0 25px;
  }

  .button {
    width: 100%;
    font-size: 1.12rem;
    border-radius: 4px;
    margin: 0;
  }
}

@media screen and (max-width: 320px) {
  .cards{
    width: 100vw;
        /* max-width: 733px; */


  }

  .card {
    display: flex;
    flex-direction: column;
    margin: 62px auto 37px;
    gap: 30px;
  }

  .card__city {
    font-size: 2.62rem;
    line-height: 2.87rem;
    margin: 0 16px;
  }

  .name__artista {
    margin: 0 0 8px;
  }

  .city__name_artista {
    font-size: 0.9rem;
    line-height: 1.12rem;
    margin: 0 16px;
  }

  .city__name_nome {
    font-size: 0.75rem;
    line-height: 1.37rem;
    margin: 0 16px;
  }

  .card__city_image {
    width: 100%;
    margin-bottom: 0;
  }

  .city__description_text {
    font-size: 1rem;
    line-height: 1.62rem;
    margin: 0 16px;
  }

  .button {
    max-width: 288px;
    font-size: 0.87rem;
    border-radius: 4px;
    margin: 0 auto;
  }
}