.images {
  max-width: 1184px;
  /* width: 100vw; */
  display: grid;
  grid-gap: 16px 16px;
  justify-content: space-around;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin: auto;
}

.section__images_cities {
  width: 100%;
}

.cards {
  /* max-width: 987px; */
  /* display: flex; */
  /* flex-wrap: wrap;
  justify-content: center; */
}

.card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "city artist"
    "image description_text"
    "image description_text"
    "button description_text"
    ". description_text";
  margin: auto 142px;
  column-gap: 40px;
}

.button {
  grid-area: ;
}

.card__city {
  font-family: "Inter";
  font-size: 72px;
  font-weight: 900;
  line-height: 76px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 0;
}

.city__name-artista {
  margin-top: 190px;
  margin-bottom: 5px;
  font-family: "Inter";
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0.12em;
  text-align: left;
  color: #aaaaaa;
  margin-bottom: 0;
}

.city__name-nome {
  margin-top: 0;
  margin-bottom: 72px;
  font-family: "Inter";
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0;
}

.card__image {
}

.card__city_image {
  max-width: 460px;
  max-height: 460px;

}

.city__description {
  font-family: "Inter";
  font-size: 18px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  /* padding-bottom: 25px; */
  margin-bottom: 25px;
}

.city__description-span::before {
  font-size: 25px;
}

.button {
  background: #0278fe;
  color: #ffffff;
  font-weight: 600;
  width: 355px;
  height: 48px;
  font-family: "Inter";
  font-size: 18px;
  border-radius: 4px;
  margin: 0;
}

.card__content_about {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 484px;
  font-family: "Inter";
  font-size: 18px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
}

@media screen and (max-width: 768px) {
  .images {
    /* max-width: 720px; */
    /* width: 100vw; */
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: repeat(2, 1fr);
    margin: auto;
  }

  .section__images_cities {
    /* max-width: 352px;
    width: 100vw; */
  }
}

@media screen and (max-width: 320px) {
  .images {
    /* max-width: 288px; */
    display: grid;
    grid-gap: 12px;
    grid-template-columns: 1fr;
  }

  .section__images_cities {
    /* max-width: 288px;
    width: 100vw; */

    /* padding-bottom: 100%; */
  }
}
